@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap") * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #e5e5e5;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;
}
.menu {
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  width: 90%;
  gap: 20px;
  margin: 0 auto;
}

/* Styling the icons on the sidebar
 and with black background  */

.flex-item1 {
  flex-basis: 10%;
  margin-top: 80px;
}
.icon-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  gap: 20px;
  border: none;
  border-radius: 10px;
  padding-top: 20px;
  height: fit-content;
  width: 70%;
  margin: 0 auto;
}
.icon {
  box-sizing: border-box;
  height: 80px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
}
#menu {
  height: 80px;
  background-color: white;
}

/* icon styling finishes here  */

/* styling of the food segment including the header  */

.flex-item {
  height: 100vh;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 0 auto;
}

.text {
  height: 10vh;
  width: 100%;
}
.text h1 {
  font-family: "mulish", sans-serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 300;
  border: none;
  border-bottom: 1px solid red;
  padding: 0;
}

/* The collection of menus  */
.grid-item {
  width: 150px;
  padding: 10px;
}
.grid-item .Food-item p {
  text-align: center;
}
.grid-item div img {
  width: 150px;
  height: 200px;
}
/* load more  */
.loadMore {
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: center;
}

.load-more .btn {
  width: 100px;
  height: 35px;
  margin: 0 auto;
}
.load-more .btn button {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}
.footer {
  grid-column-start: 1;
  grid-column-end: 5;
  text-align: left;
  padding: 10px;
}
